                                                /* CSS Variables and root */
/* *{ */

/* } */

                                                /* Quotes */

/* #home{
    display: flex;
    flex-direction: column;
} */

/* .test{
    display: flex;
    z-index: -1;
    align-items: center;
    justify-content: center;
} */
.quote{
    z-index: 0;
    font-size: 3rem;
    align-items: center;
    text-align: center;
    position: absolute;
    /* border: 2px solid red; */
    height: 25rem;
    width: 50rem;
    display: flex;
    justify-content: center;
}

#q1{
    
    top: 15rem; 
    right: 5rem;
}

#q2{
    top: 69rem;
    left: 5rem;
}

#q3{
    top: 128rem;
    right: 5rem;
}

#q4{
    top: 183rem;
    left: 5rem;
}


/* Home Images */
#home img{
    width: 100%;
    z-index: 110;
    /* opacity: 0.5; */
}