*{
    padding: 0px;
    margin: 0px;
}

.navbar{
    /* border: 2px solid red; */
    /* padding: 10px 10px 10px 10px; */
    /* margin: 2px 2px 2px 2px; */
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6)
}

.nav_list{
    /* border: 2px solid green; */
    
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* padding: 10px 10px 10px 10px; */
}
.logo{
    display: flex;
    /* width: 20%; */
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    padding: 0.75vw 0.75vw 0.75vw 0.75vw;
    margin: 0vw 1vw 0vw 0vw;
}

.logo img{
    width: 5vw;
    /* border: 2px solid black; */
    /* padding: 10px 10px 10px 10px; */
    
}


.nav_list li{
    list-style: none;
}

.nav_list li a{
    text-decoration: none;
    padding: 0.2vw 2vw 0.2vw 2vw;
    margin: 0vw 0vw 0vw 0vw;
    /* border: 2px solid black; */
    font-size: 1.5vw;
    color: white;
    border-radius: 0.75em;
}

.nav_list li a:hover{
    background-color: white;
    color: black;
}